@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.gradient-text {
  @apply flex items-center cursor-pointer no-underline text-2xl font-bold;
  background-image: linear-gradient(to left, #00ff95, #6bffda);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
